#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.title {
  font-family: 'Zeyada', cursive;
  font-size: 3rem;
  color: var(--primary-color);
  text-align: center;
}

.button {

  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;

  cursor: pointer;
  filter: drop-shadow(0px 2px 2px var(--shadow-color));
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  padding: 3rem;
  padding-top: 1rem;
}

.login-form-group {
  position: relative;
}

.form-group-input {
  width: 100%;
  background: transparent;
  padding: 0.8rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  filter: drop-shadow(0px 2px 2px var(--shadow-color));
}

.form-group-label {
  position: absolute;
  background: var(--ligth-background);
  transition: all 0.2s ease-in-out;
  left: 0.8rem;
  top: 0.7rem;
  color: var(--gray-color);
}

.form-group-input:focus {
  border: 1px solid var(--primary-color);
}

/* Moving the label to the top of the input once is focus */
.form-group-input:focus-within label{
  top: -0.5rem;
  left: -0.8rem;
  font-size: 0.8rem;
  color: var(--primary-color);
}

