@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Pixelify+Sans:wght@400;500;600;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);

:root {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--dark-background); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: var(--ligth-background);


  --primary-color: rgb(116,213,222);
  --secondary-color: rgb(254,211,133);
  --tertiary-color: rgb(253,131,105);
  --ligth-background: #F7F7F8;
  --dark-background: #242424;
  --primary-text: #333333;
  --secondary-text: #4F4F4F;
  --disabled-text: #BDBDBD;
  --disabled-color: #E0E0E0;
  --shadow-color: rgba(0, 0, 0, 0.138);
  --border-color: rgba(0, 0, 0, 0.185);
  --gray-color: #828282;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: var(--primary-text);
    background-color: var(--ligth-background);
  }
} */